<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
	  xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml"
	  xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml"
	  xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to Bootsnipp</a>
{% extends "layout.html" %}
{% block body %}
<html>

<head>
	<title>सर्वे भवन्तु सुखिनः</title>
</head>

<body>
	<div class="text-info" align="center" >
		<h2>संपर्क पृष्ठ</h2>
	</div>
	<style>
    body {
        background-image: url('/static/good_health.jpg');
		 height: 100%;

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;;
		  overflow: hidden;
    }
	</style>
	<p> {{name}}</p>

<<div class="container">
  <div class="row">
    <div class="col-md-4" color = "red">
		<font color="blue" data-bgColor="white" >
				<h1>खराडी</h1>
		</font>
	  <ul class="list-group pull-down" id="contact-list1">
		  <li class="list-group-item">
			  <div class="row w-10">
				  <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
						<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
						<label class="name lead">दीपक जोशी</label>
						<br>
						<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
						<span class="text-muted big">9921008529</span>
						<br>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row 10">
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
							<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
							<label class="name lead">सुरेश कुलकर्णी</label>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
                            <span class="text-muted big">9822846211</span>
                            <br>
                        </div>
                    </div>
                </li>
		   <li class="list-group-item">
						<div class="row w-100">

							<div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
								<span class="name lead">नीलकंठ जोशी</span>
								<br>
								<br>
								<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
								<span class="text-muted big">9423464144</span>
								<br>

							</div>
						</div>
					</li>

		  <li class="list-group-item">
						<div class="row w-100">

							<div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
								<span class="name lead">रामचंद्र कोल्हे</span>
								<br>
								<br>
								<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
								<span class="text-muted big">9923274093</span>
								<br>

							</div>
						</div>
					</li>
		  <li class="list-group-item">
						<div class="row w-100">

							<div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
								<span class="name lead">शुभाली कुलकर्णी</span>
								<br>
								<br>
								<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
								<span class="text-muted big">8855868393</span>
								<br>

							</div>
						</div>
					</li>

            </ul>
		</div>
    <div class="col-md-4">
		<font color="blue">
				<h1>वड़गाँव शेरी</h1>
		</font>

	  <ul class="list-group pull-down" id="contact-list2">
		  <li class="list-group-item">
			  <div class="row w-10">
				  <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
						<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
						<label class="name lead">दिलीप नेने</label>
						<br>

						<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
						<span class="text-muted big">9420435686</span>
						<br>

                        </div>
                    </div>
                </li>



            </ul>
		</div>
    <div class="col-md-4">
		<font color="blue">
				<h1>वाघॊली</h1>
		</font>
	  <ul class="list-group pull-down" id="contact-list3">
		  <li class="list-group-item">
			  <div class="row w-10">

				  <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
						<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
						<label class="name lead">शेखर डोलके</label>
						<br>
						<span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="9921008529"></span>
						<span class="text-muted small">9922478299</span>
						<br>

                        </div>
                    </div>
                </li>

            </ul>
		</div>
</div>


    <!-- JavaScrip Search Plugin -->


	{% endblock %}


</html>